/* import font style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* section */
.section__width {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

/* news section */
.news__section {
  width: 90%;
  margin: 8% auto 15%;
}
.news__section__heading {
  font-size: 2.3rem;
  word-spacing: 5px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 50px;
}

/* main news section */
.main__news__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* screen size 1024px */
@media only screen and (max-width: 1024px) {
  /* news section */
  .news__section__heading {
    font-size: 2rem;
  }
}

/* screen size 768px */
@media only screen and (max-width: 768px) {
  /* news section */
  .news__section__heading {
    font-size: 1.8rem;
  }

  /* main news section */
  .main__news__section {
    justify-content: space-around;
  }
}
