.full__news > img {
  width: 100%;
  margin: 40px 0;
}
.full__news > p {
  font-size: 1.1rem;
}
.full__news > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.full__news > div > p {
  font-size: 0.9rem;
  font-weight: bold;
}

/* screen size 1024px */
@media only screen and (max-width: 1024px) {
  .full__news > h1 {
    font-size: 1.8rem;
  }
}

/* screen size 768px */
@media only screen and (max-width: 768px) {
  .full__news > h1 {
    font-size: 1.5rem;
  }
  .full__news > p {
    font-size: 1rem;
  }
}

/* screen size 480px */
@media only screen and (max-width: 480px) {
  .full__news > h1 {
    font-size: 1.3rem;
  }
  .full__news > p {
    font-size: 1rem;
  }
  .full__news > div {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
  }
  .full__news > div > p {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 5px 0;
  }
}
