.sidebar__detail {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
  align-items: center;
  justify-content: flex-start;
}
.sidebar__detail__img {
  width: auto;
  height: 50px;
  object-fit: contain;
  border: 1px solid;
}
.sidebar__detail__heading {
  font-size: 1rem;
  margin-left: 20px;
}

/* screen size 480px */
@media only screen and (max-width: 480px) {
  .sidebar__detail__heading {
    font-size: 1rem;
  }
}

/* screen size 360px */
@media only screen and (max-width: 360px) {
  .sidebar__detail__heading {
    font-size: 0.9rem;
  }
}
