/* sidebar - weather */
.sidebar__weather__section {
  margin: 8% 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.sidebar__news {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.sidebar__news__heading {
  font-size: 1.4rem;
  margin-bottom: 30px;
  color: #000;
}

/* carousel */
.carousel {
  width: 75%;
  margin: 80px auto;
  position: relative;
  height: 250px;
}
.carousel__detail > .carousel__link > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center 30%;
  filter: grayscale(100%);
}
.carousel__detail > .carousel__link > h1 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

/* screen size 768px */
@media only screen and (max-width: 768px) {
  /* sidebar - weather */
  .sidebar__weather__section {
    margin: 8%;
    flex-direction: column;
  }
  .sidebar__news {
    width: 70%;
    margin: auto;
  }

  /* carousel */
  .carousel {
    width: 80%;
    height: 200px;
  }
  .carousel__detail > .carousel__link > img {
    height: 200px;
  }
  .carousel__detail > .carousel__link > h1 {
    font-size: 1.2rem;
  }
}

/* screen size 480px */
@media only screen and (max-width: 480px) {
  /* sidebar - weather */
  .sidebar__news {
    width: 90%;
    margin: 0;
  }
  .sidebar__news__heading {
    font-size: 1.3rem;
    margin: 20px 0 30px;
  }
  /* carousel */
  .carousel {
    width: 90%;
    height: 150px;
    margin: 60px auto;
  }
  .carousel__detail > .carousel__link > img {
    height: 150px;
  }
  .carousel__detail > .carousel__link > h1 {
    font-size: 1rem;
  }
}

/* screen size 360px */
@media only screen and (max-width: 360px) {
  /* sidebar - weather */
  .sidebar__news {
    width: 100%;
  }
  .sidebar__news__heading {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  /* carousel */
  .carousel {
    width: 100%;
  }
  .carousel__detail > .carousel__link > h1 {
    font-size: 0.9rem;
  }
}
