/* section */
.section__width {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

/* news section */
.news__section {
  width: 90%;
  margin: 8% auto 0;
}
.news__section__heading {
  font-size: 2.3rem;
  word-spacing: 5px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

/* main news section */
.main__news__section {
  margin: 7% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
