.section__width {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.news__section {
  width: 90%;
  margin: 10% auto 7%;
}

.news__section__heading {
  font-size: 2.3rem;
  word-spacing: 5px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
